/* header memu items css */
.j-nav-item {
    border: 0 !important;
    transition: all .3s ease-in;
}

.j-nav-item:hover {
    border-bottom: 5px solid #6777ef !important;
}

/* job categories css */
.categories-section {
    border: 1px solid #e3e3e3;
    padding: 20px;
    box-shadow: 0 0 3px #acb5f6;
    border-radius: 50% 50%;
    transition: all .3s ease-in;
}

.categories-section:hover {
    background: #f6f6f6;
}

.cat-icon {
    text-align: center;
    font-size: 5em;
}

.cat-icon i {
    padding: 20px 20px;
    border-radius: 50%;
}

.categories-section:hover {
    border: 1px solid #6777ef;
}

/* job details css */
.job-d-info {
    border: 1px solid #e3e3e3;
    /*margin: 0 !important;*/
    padding: 10px 0 !important;
}

.j-company-info a i {
    padding-right: 0 !important;
}

/* company details css */
.j-profile-info div {
    padding: 10px 20px !important;
    font-size: 17px;
    text-align: center;
    border-radius: 50px;
    transition: all .3s ease-in;
}

.j-profile-info span {
    margin-left: 10px !important;
}

.j-profile-info a {
    color: #333;
}

.j-profile-info div:hover {
    background: #6777ef !important;
    color: #fff;
}

.j-profile-info div:hover a {
    color: #fff;
}

.j-title {
    padding-left: 20px;
}


/* candidate profile css */
.j-education-year h6 {
    line-height: 0 !important;
    font-size: 16px !important;
    margin-top: 16px !important;
}

@media screen and (max-width: 768px) {
    .j-education-col {
        margin-top: 40px;
    }
    .c-right {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 425px) {
    .j-detail-social-btn {
        display: block !important;
        margin-top: 9px;
    }

    .j-detail-social-btn button {
        width: 100%;
    }

    .j-category-type {
        float: none !important;
        margin: 0 auto !important;
        padding-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .j-detail-social-btn {
        display: block !important;
        margin-top: 9px;
    }

    .j-detail-social-btn button {
        width: 100%;
    }

    .j-category-type {
        float: none !important;
        margin-left: -20px !important;
        padding-top: 20px;
    }
}

.c-company-image {
    width: 100%;
    height: 110px;
    margin-top: 10px;
}

.c-company-p {
    margin: 0;
}

/* home page css */
.j-category-type {
    margin: 5px 0 0 18px;
}

.j-error-padding {
    padding-left: 0 !important;
}

.user-avatar img {
    width: 40px;
    height: 40px;
    margin-top: -0.8em !important;
}

.userName {
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding: 0 0 7px 18px;
}

.userMenu {
    margin-top: 5px !important;
}

.websiteText {
    text-transform: none !important;
}

.homeCompaniesText {
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Varela Round', sans-serif;
    color: #333;
}

.noticeBoard {
    background-image: linear-gradient(to right, #6777ef, #3ae2f0) !important;
    background-image: -webkit-linear-gradient(to right, #6777ef, #3ae2f0) !important;
    background-image: -moz-linear-gradient(to right, #6777ef, #3ae2f0) !important;
    background-image: -o-linear-gradient(to right, #6777ef, #3ae2f0) !important;
    cursor: pointer;
}

/*.noticeBoardAnchor {*/
/*    font-size: 20px;*/
/*}*/

.noticeBoardAnchor:hover, .noticeBoardAnchor:focus {
    color: #ffffff !important;
}
