#main-nav .simple-menu a {
  text-transform: capitalize;
}

#main-nav .simple-menu a:focus {
  color: #6777ef !important;
}

.overlay-black:before {
  background-image: url("/uploads/bg21.jpg");
  /*background-image: linear-gradient(lightgreen, green 38%, #3ae2f0 123%) !important;*/
}

.alert.alert-warning {
  background-color: #ffbe52 !important;
  color: #fdfdff;
}

.job-search-form .btn-purple {
  background: #fff;
  color: #6777ef !important;
  border: 0;
  border-radius: 5px;
}

.job-search-form .btn-purple:hover {
  background-color: #e4eeff !important;
}

.company-image {
  height: 100px !important;
  -o-object-fit: contain !important;
  object-fit: contain !important;
}

section#job-page .company-info .job-company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: unset !important;
}

section#job-page .company-info .job-company a img {
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 100px;
  height: 70px;
}

.job-post-wrapper .single-job-post {
  border-color: transparent;
}

.job-post-wrapper .single-job-post img {
  -o-object-fit: contain;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.job-post-wrapper .single-job-post .btn-small {
  border-radius: 12px;
  box-shadow: none;
  font-size: 10px;
  padding-top: 1px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.btn-blue,
.btn-purple,
.btn-red {
  border-radius: 18px;
  padding: 1px 15px 0 15px;
  letter-spacing: 0.8px;
}

section#job-page .job-overview li h5 i {
  color: #6777ef;
}

section#job-page .label.label-info {
  background-color: #6777ef;
}

.job-post-wrapper .single-job-post .job-title,
.job-post-wrapper .single-job-post .job-info {
  padding-right: 10px;
}

.job-post-wrapper .single-job-post .job-title a {
  text-transform: capitalize;
}

section.page-header:after {
  background: linear-gradient(#172f5f, #3a66a9);
  opacity: 1;
}

.back-top {
  background: linear-gradient(to right, #6777ef 60%, #443088 150%);
}

.about-process .process-icon {
  background: green !important;
}

.about-process h5.step-no {
  margin-bottom: 20px !important;
  font-size: 12px;
}

.blog-sidebar .widget-title:after {
  background: #6777ef;
}

section#login .login-box .login-title {
  background: orange;
}

section#login .login-box .login-title2 {
  background: deepskyblue;
}

section#login .login-box .login-title:before {
  background: #6777ef;
}

footer .footer-info:before {
  background: #292e5a;
}

footer .copyright {
  background: #1b1f3c;
}

footer .footer-info form input.form-control {
  background: #ededed !important;
  box-shadow: none !important;
}

footer .footer-info form button.btn-orange {
  box-shadow: none !important;
}

footer .footer-info p,
footer .footer-info a,
footer .footer-info ul li,
footer .footer-info span {
  color: #e3e6ea;
}

.no-blog-available {
  display: flex !important;
  justify-content: center !important;
}

.search-job-location {
  width: 80% !important;
  display: inline !important;
  margin-right: 12px;
}

@media screen and (max-width: 1024px) {
  .search-job-location {
    margin-bottom: 10px !important;
  }
}

.front-thumbnail {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  -o-object-fit: contain;
  object-fit: contain;
}

