.top-categories {
  height: 150px;
  width: 100%;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  border: 1px solid #e1e4fc;
  border-radius: 8px;
  background-image: linear-gradient(#172f5f, #3a66a9);
  color: #fff;
}

.category-listing {
  text-align: center;
  border: 1px solid #e1e4fc;
  display: inline-block;
  margin: 16px;
  border-radius: 8px;
  width: 22%;
  height: 150px;
  background-color: #ffffff;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#172f5f, #3a66a9);
}

.category-listing:nth-child(5) {
  text-align: center;
  border: none;
  display: inline-block;
  margin: 16px;
  border-radius: 8px;
  width: 100%;
  height: 150px;
  background-color: transparent;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  background-image: none;
}

.category-listing:nth-child(5) .top-categories {
  background-image: linear-gradient(#172f5f, #3a66a9);
  width: 22%;
  margin: auto;
  position: relative !important;
  border-radius: 8px;
}

